<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ru.capralow.dt.mylyn.e1c"
         name="%repository.name"
         point="org.eclipse.mylyn.tasks.ui.repositories">
         <connectorCore
            class="ru.capralow.dt.mylyn.e1c.E1cConnector"
            id="ru.capralow.dt.mylyn.e1c"
            name="%connector.name"/>
   </extension>

</plugin>
